html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing:inherit;
}


body {
  min-height: 100%;
  background: white;
  margin: 0;
  position: relative;
  padding: 130px 0;
  min-width: 750px;
}

header {
  height: 70px;
  background: #323232;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.p1 {
  height: 600px;
  background: #4a4a4a;
  width: 70px;
  position: absolute;
  left: 0;
}
.x-sideline {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  width: 100%;
  line-height: 120px;
  color: white;
}
.p2 {
  height: 600px;
  background: #4a4a4a;
  width: 70px;
  position: absolute;
  right: 0;
  top: 130px;
}
.o-sideline {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  width: 100%;
  line-height: 120px;
  color: white;
}


main {
  padding: 0 70px;
}
.gameBoardWrapper {
  width: 600px;
  height: 600px;
  background: #323232;
  margin: 0 auto;

}
.square {
  width: 200px;
  height: 200px;
  float: left;
  background: #00528C;

}
.l {
  border-left: 3px solid white;
}
.b {
  border-bottom: 3px solid white;
}
.r {
  border-right: 3px solid white;
}


footer {
  height: 70px;
  background: #323232;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
